
# shielding node_module about sources
**/node_modules

# igore file of cpp
*.cpp

# ignore node_modules
yarn.lock

# ignore vscode's cofiguration
.vscode

# ignore latex's compile

latex/**/*.aux
latex/**/*.log
latex/**/*.pdf
latex/**/*.synctex.gz
latex/**/*.toc

# ignore idea's configuration
.idea

# ignore robot's log
robot/**/logs

# ignore rust's project
rust/.cache

# ignore the system file
.DS_Store
